@import "_reset.scss";
@import url("https://fonts.googleapis.com/css?family=Inter:regular,600,700&display=swap");

$textColor: #dac5a7;

body {
	background: #0e0e0e;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Inter", sans-serif;
	font-size: 36px;
	color: $textColor;
}

[class*="__container"] {
	max-width: 1270px;
	margin: auto;
	padding: 15px;
}

.wrapper {
	min-height: 100vh;
	overflow: clip;
	display: flex;
	flex-direction: column;
	& > main {
		flex-grow: 1;
		text-align: center;
		display: flex;
	}
}
