a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

p {
    text-align: justify;
}

.component {
    background-image: linear-gradient(to bottom, #e7eaeb, #e8ebec, #e9eced, #eaeded, #ebeeee);
}

.followers {
    background: yellow;

}

.followers-width {
    background-color: aqua;
}