a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

p {
    text-align: justify;
}

.component {
    background-image: linear-gradient(to bottom, #e7eaeb, #e8ebec, #e9eced, #eaeded, #ebeeee);
}

.elem {
    width: calc (100% / 3);
    height: width: calc (100% / 3);
}